@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #f3f3f3;
  --text-color: #000;
  --task-bg-color: #fff;
  --task-border: #dfdfdf;
  --placeholder-color: #aaa;
  --highlight-color: #555;
  --task-text-alt-color: #326615;
}

body.dark {
  --bg-color: #1c1c1c;
  --text-color: #fff;
  --task-bg-color: #2a2a2a;
  --task-border: #4e4e4e;
  --placeholder-color: #888;
  --highlight-color: #ccc;
  --task-text-alt-color: #8dda29;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  padding: 100px 50px;
  max-width: 600px;
  position: relative;
}

.theme-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

img.theme-icon,
img.add-icon,
img.remove-icon {
  transition: filter 0.3s ease;
}

body.dark img.theme-icon,
body.dark img.add-icon,
body.dark img.remove-icon {
  filter: invert(1);
}

.main-container {
  background-color: var(--task-bg-color);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0,0,0,0.05);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: 500;
}

.input-container {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid var(--task-border);
  background: transparent;
  color: var(--text-color);
  font-size: 1.1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.inputField:focus {
  border-bottom: 1px solid var(--highlight-color);
  transform: scale(1.02);
}

.addButton {
  border: none;
  cursor: pointer;
  background-color: var(--task-border);
  border-radius: 5px;
  padding-inline: 0.5rem;
}

.task {
  background: var(--task-bg-color);
  border: 1px solid var(--task-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 10px;
  gap: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.task.show {
  opacity: 1;
  transform: translateY(0);
}

.task-checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  appearance: none;
  border: 1.5px solid var(--task-border);
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.task-checkbox::after {
  content: "✔";
  color: var(--text-color);
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 4px;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.task-checkbox:checked::after {
  opacity: 1;
  transform: scale(1);
}

.task-text {
  flex: 1;
  font-size: 1rem;
  word-break: break-word;
  transition: opacity 0.3s ease, font-style 0.1s ease, text-decoration 0.5s ease;
}

.task-text.strike {
  color:var(--task-text-alt-color);
  font-style: italic;
  text-decoration: line-through;
  opacity: 0.5;
}

.task-remove {
  background: none;
  border: none;
  cursor: pointer;
}

.task.removing {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 600px) {
  .main-container {
    padding: 15px;
  }

  .inputField {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1.2rem;
  }
}
